/*--------------------------------------------------------------
  Stylesheet Guide:
  1. Reset / Normalize
  2. Variables / Custom Properties
  3. Typography
  4. Global Styles
  5. Layout (Header, Footer, Sections)
  6. Components (Buttons, Cards, Forms)
  7. Utilities (Margins, Paddings, Helpers)
  8. Media Queries (for different viewports)
--------------------------------------------------------------*/

/*  .1 Reset / Normalise  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*  .2 Variables / Custom Properties  */


:root {
  --primary-color: #ba19d3;
  --secondary-color: #00FF7F;
  --font-main: 'Montserrat', sans-serif;
}


/*  .3 Typography  */


body {
  font-family: 'Manrope', sans-serif;/* Use for body text */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Use for headings */
}

h1 {
  letter-spacing: 0.4px;
}

.text-primary {
  color: #ffffff!important;
}

.text-secondary {

  color: #ffffff!important;
  font-family: 'Montserrat', sans-serif; /* Use for headings */
  font-size: 0.9em;
}

.lead {
  font-size: 1.24rem;
}

.linkedin-icon {
  color: #fff;
}

.linkedin-icon:hover {
  color: #94A3B8;
}


/*  .4 Global Styles  */


li, p, a {
  font-family: 'Manrope', sans-serif; /* Use for body text */
}


/* Remove the default color and underline for links */
a {
  color: inherit; /* Inherit color from the parent element (or specify your color) */
  text-decoration: none; /* Remove underline */
}

/* Optionally, customize links on hover */
a:hover, a:focus {
  text-decoration: none; /* Ensure the underline is removed on hover/focus */
  color: inherit; /* Maintain the same color on hover/focus */
}



/*  .5 Layout / Sections  */

/* reset bootstrap nav styles */



/* Navigation Styles */
.nav-link {
  color: #fff; 
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  border: 1px solid transparent!important; /* Set initial border */
  transition: border-color 0.1s ease-in-out; /* Smooth transition */
  border-radius: 5px!important;
}

/* Active state (when the link is active) */
/* Styling the active menu item */
.nav .navbar-nav .nav-item .nav-link.active {
  background-color: transparent;  /* Light green background */
  border: 1px solid #94A3B8; /* Green border for active link */
}


  /* Hover effect for links */
  .nav-link:hover {
    border: 1px solid #94A3B8!important; /* Green border for active link */
    background-color: transparent;
    color: #fff;
  }

.nav-icon {
  padding-left:8px;
} 


/* logo styles */

.db-logo { max-width: 65% }

.footer-logo {max-width: 20%;}


/* Statement CTA Section */
.statement {
  line-height: 2.3rem;
  letter-spacing: 0.01em;
  font-weight: 300;
  font-size: 1.7em;
  text-wrap-style: balance;
  }
 
.statement-2 {
  text-transform: uppercase;
  font-size: 2rem;
}


/* blockquote section */
.blockquote {
  position: relative;
  font-style: italic;
  background-color: #343a40; /* Dark background */
  color: #fff; /* White text color */
  border-left: 5px solid #00FF7F; /* Blue left border */
}

.blockquote p {
  font-size: 1.8rem!important; /* Large text */
  line-height: 1.5; /* Larger leading */
  padding-left: 60px;
}



/* Gradient for quote icons */
.fa-quote-left,
.fa-quote-right {
  color: #94A3B8;
}

.row.w-100 {
  height: 100%; /* Ensure the row occupies full height */
}



/* client icons */
.clients-section {
  background-color: #343A40;
}

/* what I do section */
.what-section {
  background-color: #495057;
}



/* what I do Section */
.hover-underline {
  color: #ffffff;
  position: relative;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ba19d3, #00FF7F);
  left: 0;
  transform: scaleX(0); /* Start hidden */
  animation: scaleIn 0.5s ease-out forwards; /* Animation handles the easing */
}

/* Bottom line */
.hover-underline::after {
  bottom: -5px;
  transform-origin: right; /* Expands from right */
}

/* Top line */
.hover-underline::before {
  top: -5px;
  transform-origin: left; /* Expands from left */
}

@keyframes scaleIn {
  to {
    transform: scaleX(1); /* Fully visible at the end */
  }
}

.magic-arrow {
  font-size: 11rem; /* Adjust size as needed */
  color: white; /* Default color */
  background: linear-gradient(to left, white 50%,  #ba19d3 50%, #00FF7F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none; /* Make sure background clips to padding box */
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease-in-out;
}

.hover-underline:hover .magic-arrow {
  background-position: 0 0; /* Moves gradient left to right */
  background-size: 200% 100%;
}

.tools-section {
  background:#495057;
}


/*  .6 Components  */

/* AM tag cloud styles */
.tag-section {
  background-color: #343A40;
}

 .tag-container {
    padding: 60px 0; /* Adds top and bottom padding to the row */
 }
 
 .tag-container h3 {
   text-align: center;
   font-size: 1.4em;
   margin-bottom: 1em;
 }
 
  .am-tag-cloud {
     display: flex;
     flex-wrap: wrap;
     justify-content: center; /* Centers buttons horizontally */
 }
 

 .am-tag-button {
  background: transparent;
  color: #fff;
  padding: 10px 15px;
  border: 2px solid #ba19d3;
  border-radius: 15px;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  margin: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

 
 .am-tag-button:hover {
     color: #fff;
     background: radial-gradient(#333,#ba19d3);
 }

 

/*button styles */

.btn-primary {
  background-color:#9b10b1;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #ba19d3;
  color: #fff;
}


.btn-outline-secondary {
  color: #94A3B8;
  border: 1px solid #94A3B8;
}

.btn-close {
  background-color: #d3d3d3;
}


.custom-gradient {
    background: linear-gradient(to right, #ba19d3, #00FF7F)!important;
    color: white; /* Ensures text is readable */
  }
  
/* bullet list */

.bullet-list p {
  display: flex;  
  align-items: center; /* Vertically center the bullet and text */
  margin: 0; /* Remove default margin for paragraphs */
}

.bullet {
  display: inline-block;
  width: 15px;
  height: 5px;
  border-radius: 15%;
  background-color: #fff; /* Custom bullet color */
  margin-right:20px;
}

/* iceberg SVG Img */


.iceberg-img {
  max-width:80%;
  transition: filter 0.5s ease-in-out;
} 

.iceberg-img:hover {
  filter: drop-shadow(0 0 8px rgba(2255, 255, 255, 0.8));
}

/* Modal Form Stylings */

.modal-title {
  color: #d3d3d3;
  font-weight: 600;
}


.form-label {
  color:#94A3B8;
}

.modal-header {

  border-bottom: 1px solid #495057
}

.form-control {
  background-color:#343A40;
  border: none; 
}

.form-control:focus {
  background-color: #495057
}

input, textarea {
  color: #d3d3d3!important;
}

/*  .7 Utilities  */ 
 

/*  .8 Media Queries  */


/* For screens between 768px and 992px */
@media (min-width: 768px) and (max-width: 991px) {
  .nav-link {
    padding-right: 1vw; /* 2% of viewport width */
    padding-left: 1vw;  /* 2% of viewport width */
  }
  .client-logo {
    max-width: 90%; /* Adjust this percentage as needed */
  }

  .blockquote p {
    font-size: 1.7rem!important;
    padding-left: revert;
  }
}


@media (max-width: 991px) {
  .db-logo {
    max-width: 50%;
  }

  .footer-logo {
    max-width:40%;
  }
}

/* Remove padding on mobile screens (below 576px) */
@media (max-width: 768px) {
  .pxxx-t {
    padding-top: 0 !important;  /* Force padding removal on mobile */
  }
}

@media (min-width: 576px) {
  h1 {
    line-height: 1!important;
  }
}

@media (max-width: 576px) {
  .lead {
    text-wrap-style: pretty;
    font-size: 1.1rem;
  }
  .statement {
    font-size: 1.4rem;
    font-weight:500;
    line-height:normal;
  }
  .iceberg-img {
    max-width:70%;
  }

  .footer-logo {
    max-width: 40%;
  }

  .footer-strap {
    line-height:1.1;
  }

  .blockquote {
    border: none;
  }

  .nav-icon-mobile {
    padding-top: 15px;
    padding-left: 2px; 

  }
  
  .tool-logo-container {
      margin-bottom: 0 !important;
    }

  .carousel-indicators {
    position: relative;
    top: 10px; /* Adjust this value as needed */
    margin-top: 10px; /* Adds space between the slides and indicators */
    /* Vertically center the carousel arrows */
  }
    
  .carousel-control-prev,
  .carousel-control-next {
  top: -25%;           /* Align to middle */
  }

  .fa-quote-left, .fa-quote-right {
    font-size: clamp(4rem, 15vw, 6rem) !important;
  }

  .fa-quote-left {
    margin-left: 1rem!important;
  }

  .statement-2 {
    font-size: 1rem; /* Smaller text on mobile */
    margin-top: 1rem;
    margin-bottom: 0!important;
    padding-bottom: 0!important;
  }


}

