/*--------------------------------------------------------------
  Stylesheet Guide:
  1. Reset / Normalize
  2. Variables / Custom Properties
  3. Typography
  4. Global Styles
  5. Layout (Header, Footer, Sections)
  6. Components (Buttons, Cards, Forms)
  7. Utilities (Margins, Paddings, Helpers)
  8. Media Queries (for different viewports)
--------------------------------------------------------------*/

/*  .1 Reset / Normalise  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*  .2 Variables / Custom Properties  */


:root {
  --primary-color: #ba19d3;
  --secondary-color: #00FF7F;
  --font-main: 'Montserrat', sans-serif;
}


/*  .3 Typography  */


body {
  font-family: 'Manrope', sans-serif;/* Use for body text */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Use for headings */
}

h1 {
  letter-spacing: 0.4px;
}

.text-primary {
  color: #ffffff!important;
}

.text-secondary {

  color: #ffffff!important;
  font-family: 'Montserrat', sans-serif; /* Use for headings */
  font-size: 0.9em;
}

.lead {
  font-size: 1.24rem;
}

.linkedin-icon {
  color: #fff;
}


/*  .4 Global Styles  */


li, p, a {
  font-family: 'Manrope', sans-serif; /* Use for body text */
}


/* Remove the default color and underline for links */
a {
  color: inherit; /* Inherit color from the parent element (or specify your color) */
  text-decoration: none; /* Remove underline */
}

/* Optionally, customize links on hover */
a:hover, a:focus {
  text-decoration: none; /* Ensure the underline is removed on hover/focus */
  color: inherit; /* Maintain the same color on hover/focus */
}


/*  .5 Layout / Sections  */

/* Navigation Styles */
/* Default nav link color */
.nav-link {
  color: #94A3B8; 
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

/* Hover state (when the user hovers over the link) */
.nav-link:hover {
    color:#ffffff;
  }

/* Active state (when the link is active) */
.nav-link.active {
  color: #94A3B8; /* Bright blue from your palette */
}

/* Optional: Change the color of the active link when it's selected */
.nav-pills .nav-link.active {
  background-color: #5ADEFF; /* Change the background color of active link */
}


.nav-link {
  padding-top: 1.6rem;  /* Change to desired value */
}


  /* Make the text light color (for dark theme) */
  .nav-link {
    color: #fff;
  }

  /* Hover effect for links */
  .nav-link:hover {
    color: #ba19d3; /* Add your hover color */
  }

.nav-icon {
  padding-top:22px;
} 


/* logo styles */

.db-logo { max-width: 65% }


/* Statement CTA Section */
.statement {
  line-height: 2.3rem;
  letter-spacing: 0.01em;
  font-weight: 300;
  font-size: 1.7em;
  text-wrap-style: balance;
  }
 
.statement-2 {
  text-transform: uppercase;
  font-size: 4rem;
}


/* blockquote section */
.blockquote {
  position: relative;
  font-style: italic;
  background-color: #343a40; /* Dark background */
  color: #fff; /* White text color */
  border-left: 5px solid #00FF7F; /* Blue left border */
}

.blockquote p {
  font-size: 1.8rem!important; /* Large text */
  line-height: 1.5; /* Larger leading */
  padding-left: 60px;
}

.quote-icon {
  position: absolute;
  top: -30px;
  left: 20px;
  font-size: 5rem; /* Large quotation mark */
  color: #fff; /* Blue color for the quote mark */
}

/* client icons section */
/* Ensure that the right column takes the full height of the left column */
.col-md-6.d-flex {
  height: 300px; /* Adjust according to your needs */
}

.row.w-100 {
  height: 100%; /* Ensure the row occupies full height */
}

/* Optional: Adjust bottom margin for better spacing between logos */
.mb-4 {
  margin-bottom: 0.5rem; /* Adjust if you need more or less space between logos */
}

/* client icons */
.client-icon {
  padding-bottom:30px;
  width:180px;
}

.clients-section {
  background-color: #343A40;
}

/* what I do section */
.what-section {
  background-color: #495057;
}


/* what I do Section */
.hover-underline {
  font-size: 2rem;
  color: #ffffff;
  position: relative;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ba19d3, #00FF7F);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

.magic-arrow {
  font-size: 11rem; /* Adjust size as needed */
  color: white; /* Default color */
  background: linear-gradient(to left, white 50%,  #ba19d3 50%, #00FF7F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none; /* Make sure background clips to padding box */
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease-in-out;
}

.hover-underline:hover .magic-arrow {
  background-position: 0 0; /* Moves gradient left to right */
  background-size: 200% 100%;
}


/*  .6 Components  */

/* AM tag cloud styles */
.tag-section {
  background-color: #343A40;
}

 .tag-container {
    padding: 60px 0; /* Adds top and bottom padding to the row */
 }
 
 .tag-container h3 {
   text-align: center;
   font-size: 1.4em;
   margin-bottom: 1em;
 }
 
  .am-tag-cloud {
     display: flex;
     flex-wrap: wrap;
     justify-content: center; /* Centers buttons horizontally */
 }
 
 .am-tag-button {
     background: #1C9AC7;
     color: #fff;
     border: 1px solid #0e3b5c;
     padding: 10px 15px;
     border-radius: 25px; /* Rounded edges */
     text-decoration: none;
     white-space: nowrap; /* Prevents buttons from breaking */
     transition: all 0.3s ease-in-out;
     margin: 4px; /* Adds margin between buttons */
     text-align: center; /* Aligns text inside the button */
     text-transform: uppercase;
     font-size: 0.8em;
 }
 
 .am-tag-button:hover {
     color: #fff;
     border-color: #287AB3;
     background: #1C9AC7;
 }

 

/*button styles */

.btn-primary {
  background-color:#9b10b1;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #ba19d3;
  color: #fff;
}


.btn-outline-secondary {
  color: #94A3B8;
  border: 1px solid #94A3B8;
}


/* bullet list */

.bullet-list p {
  display: flex;  
  align-items: center; /* Vertically center the bullet and text */
  margin: 0; /* Remove default margin for paragraphs */
}

.bullet {
  display: inline-block;
  width: 15px;
  height: 5px;
  border-radius: 15%;
  background-color: #fff; /* Custom bullet color */
  margin-right:20px;
}


.iceberg-img {
  max-width:80%
} 


/*  .7 Utilities  */ 
 

/*  .8 Media Queries  */


/* For screens between 768px and 992px */
@media (min-width: 768px) and (max-width: 991px) {
  .nav-link {
    padding-right: 1.2vw; /* 2% of viewport width */
    padding-left: 1.2vw;  /* 2% of viewport width */
  }
}


@media (max-width: 991px) {
  .db-logo {
    max-width: 50%;
  }
}

/* Remove padding on mobile screens (below 576px) */
@media (max-width: 768px) {
  .pxxx-t {
    padding-top: 0 !important;  /* Force padding removal on mobile */
  }
}

@media (max-width: 576px) {
  .lead {
    text-wrap-style: pretty;
    font-size: 1.1rem;
  }
  .statement {
    font-weight:500;
    line-height:normal;
  }
  .iceberg-img {
    max-width:70%;
  }
}

@media (min-width: 576px) {
  h1 {
    line-height: 1!important;
  }
}



