body {
background-color: #6EB8E6;
}
h1 {
  font-size: 54px;
  font-family: 'Do Hyeon', sans-serif;
  color: #FFF9E1;
  text-transform: capitalize;
  text-align: left;
  margin-top:50px;
  margin-bottom: 10px;
  margin-left:30px;
}

h2 {
  color: #5E5E5E;
}

p {
  
  color: #5E5E5E;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #6EB8E6;
    overflow: hidden;
    font-family: 'Do Hyeon', sans-serif;
    color: #FFF9E1;
 
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 18.5px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: transparent !important;
    text-decoration: underline;
    color: #6EB8E6;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #6EB8E6;
    color: #AD66AB;
}



.cat {
 border-radius: 70%;
 max-width: 300px;
 float: left;
}
