body {
background-color: #6EB8E6;
}
h1 {
  font-size: 54px;
  font-family: 'Do Hyeon', sans-serif;
  color: #FFF9E1;
  text-transform: capitalize;
  text-align: left;
   position: relative;
}

//Menu 

/* Add a black background color to the top navigation */
.topnav {
    background-color: #6EB8E6;
    overflow: hidden;
    font-family: 'Do Hyeon', sans-serif;
    position: absolute;
    float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #FFF9E1;
    text-align: center;
    padding: 10px 10px;
    text-transform: lowercase;
    font-size: 17px;
    font-family: 'Do Hyeon', sans-serif;
    text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #6EB8E6;
    color: #FFF9E1;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #C2DAE8;
    color: #FFF9E1;
}
